---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  border-top: 5px;
}

.img-caption {
  font-size: 12px;
  font-style: italic;
  color: gray;
}

$background: #eee;
$black: #222222;
$white: #ffffff;

$default: #fff;
$defaultTextColor: #222222;
$defaultSecondaryTextColor: #eee;

$red: #D32F2F;
$redTextColor: $white;
$redSecondaryTextColor: #F44336;

$blue: #303F9F;
$blueTextColor: $white;
$blueSecondaryTextColor: #3F51B5;

$yellow: #F9A825;
$yellowTextColor: $black;
$yellowSecondaryTextColor: #FBC02D;

.quote-card {
  font-family: sans-serif;
  font-weight: 300;
  background: $default;
  color: $defaultTextColor;
  letter-spacing: 0px;

  padding: 20px;
  padding-left: 60px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba($black, 0.12);

  position: relative;
  overflow: hidden;
  min-height: 120px;

  p {
    font-size: 20px;
    font-style: normal;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
  }

  cite {
    font-size: 15px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
  }

  &:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 5em;
    color: rgba($defaultSecondaryTextColor, 0.8);
    font-weight: normal;
  }

  &:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: 0px;
    font-size: 25em;
    color: rgba($defaultSecondaryTextColor, 0.8);
    font-weight: normal;
  }

  @media(max-width: 600px) {
    p {
      max-width: 65%;
    }

    &:after {
      font-size: 20em;
      bottom: -100px;
    }
  }
}
